rules_version = '2';
// Allow read/write access on all documents to any user signed in to the application
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    function isUserAuthenticated(userId) {
      return request.auth.uid == userId;
    }
    match /users/{userId} {
      allow read: if isAuthenticated();
      allow create, update: if isUserAuthenticated(userId);

      match /messages/{messageId} {
        allow read, write: if isUserAuthenticated(userId);
      }
    }
  }
}
